<title>This is a website</title>
<head>
    <h1>
        This is for Ansible practice...
    </h1>
</head>
<body>
<p>This is for Ansible practice {{ ansible_fqdn }} on {{ ansible_default_ipv4.address }}</p>
</body>