{% macro show_links() %}

<ul class="nav nav-tabs nav-fill" style="background-color:rgb(0, 75, 93);">
    <li class="nav-item">
        <a class="nav-link" style="color:whitesmoke;" href="{{url_for('index')}}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:whitesmoke;" href="{{url_for('login')}}">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:whitesmoke;" href="{{url_for('register')}}">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:whitesmoke;" href="{{url_for('dashboard')}}">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"   style="color:whitesmoke;" href="{{url_for('index')}}">Logout</a>
    </li>
</ul>

{% endmacro %}

{% macro showsocialmedialinks() %}

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link"  style="color:rgb(0, 75, 93);"  href="#">Instagram</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  style="color:rgb(0, 75, 93);" href="#">Linkedin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  style="color:rgb(0, 75, 93);" href="#">facebook</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  style="color:rgb(0, 75, 93);" href="#">whatsapp</a>
    </li>
</ul>
{% endmacro %}