{% from "showlinks.html" import show_links %}
{% from "showlinks.html" import showsocialmedialinks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD_SINGLE_EMP_PROFILE_page.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='singleemp.css')}}" type = "text/css">
</head>
<body>
      <div class="parent">
        <div class="child child1">
            <h1 class="text-center"><i>LOGO</i></h1>
        </div>
        <div class="child child2">
          {{ showsocialmedialinks() }}
        </div>
        <div class="child child3">
          {{ show_links() }}
      </div>

      <div class="child child4">
        <h3 class="m-2">EMPLOYEE PROFILE PAGE</h3>
      </div>

      <div class="child child5" style="color:rgb(0, 75, 93);">
        {% if user %}
        <h3 class="m-2"><i>User : {{ user['name'] }}</i></h3>
        {% endif %}
      </div>

        <div class="child child6 container">
            <ul class="nav nav-tabs nav-fill mb-3">
                <li class="nav-item">
                  <a class="nav-link" style=" background-color:rgb(0, 75, 93); color:whitesmoke;"  href="{{url_for('dashboard')}}">View All Employee</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style=" background-color:rgb(0, 75, 93); color:whitesmoke;"  href="{{url_for('addnewemployee')}}">Add New Employee</a>
                </li>
              </ul>
            <div class="centercontent">
                <div class="card">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{ url_for('static', filename='krishna.jpg') }}" class="img-fluid rounded-start" alt="employee image">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h3 class="card-title">Employee Details.</h3>
                          {% if single_emp %}  
                          <ul class="list-group list-group-numbered">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">Full Name : {{single_emp['name']}}</div>
                              </div>
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">Email ID : {{single_emp['email']}}</div>
                                </div>
                              </li>  
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">Phone : {{single_emp['phone']}}</div>
                                </div>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">Address : {{single_emp['address']}}</div>
                                    </div>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">Joining Date : {{single_emp['joining_date']}}</div>
                                </div>
                              </li>

                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">Total Project Handled</div>
                                  Websites and Mobile Apps.
                                </div>
                                <span class="badge bg-success rounded-pill">{{single_emp['total_projects']}}</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">Total Test Cases</div>
                                  Total test case written and reviewed
                                </div>
                                <span class="badge bg-info rounded-pill">{{single_emp['total_test_case']}}</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">Total Defects</div>
                                  Total defects found and rectified so far.
                                </div>
                                <span class="badge bg-warning rounded-pill">{{single_emp['total_defects_found']}}</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">Total Defects Pending</div>
                                  Total defects pending for next release.
                                </div>
                                <span class="badge bg-danger rounded-pill">{{single_emp['total_defects_pending']}}</span>
                              </li>
                          </ul>
                          {% endif %}

                          <p class="card-text"><small class="text-muted">Last updated on : </small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>

 
        <div class="child child7" style="background-color:rgb(0, 75, 93); color:whitesmoke;">
            <p class="p-3 text-center">copyright &copy; Developed and Designed by Gurupreeth Singh , Email :- igurupreeth@gmail.com</p>
        </div>
      </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>